@import "./stylenull.scss";
@import "./fonts.scss";
@import "../components/allcomponentsstyle.scss";

body {
	max-width: 100%;
	// background-color: #c0c0c0;
	font-family: 'Poppins', sans-serif;
}

.wrapper {
	background-color: #FFDF8C;
	max-width: 1500px;
	margin: 0px auto;
	padding: 50px;
   @media (max-width: 639px) {
      width: 250px;
      padding: 20px; 
      }
}

.content {
	max-width: 1400px;
	border-radius: 10px;
	background-color: #FFFFFF;
}

h1 {
   font-size: 2em;
   font-weight: 700;
   text-align: left;
   padding: 0 70px 0 70px;
   height: 50px;
   @media (min-width: 1024px) and (max-width: 1200px) {
   margin: 5px 0 0 0;
   }
   @media (min-width: 768px) and (max-width: 1024px) {
   margin: 8px 0 0 0;
   }
   @media (max-width: 639px) {
      font-size: 1.3em;
      margin: 10px auto;
      padding: 0;
      text-align: center;
   }
   }