.nav {
	height: 120px;
	padding: 40px 70px 0 70px;
	font-size: 1em;
	font-weight: 700;
	text-align: center;
	position: relative;
}
.nav__flex {
	display: flex;
	justify-content: space-between;
}
.nav__category__flex {
	display: flex;
	flex-wrap: wrap;
	width: 60%;
	justify-content: space-evenly;
}

.nav__categories {
	height: 35px;
	border-radius: 50px;
	background-color: #F9F9F9;
	padding: 10.5px 30px;
   cursor: pointer;
}

.nav__categories__text {
	margin: auto auto;
}
.nav__sort__flex {
	width: 25%;
	display: flex;
	justify-content: flex-end;
	padding: 10.5px 0 10.5px 30px;
   
}
.nav__sort__img {
	background-image: url('../../assets/img/sort.svg');
	width: 14px;
	height: 14px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.nav__sort__text {
	margin: 0 0 0 5px;
}
.nav__sort__menu {
	margin: 0 0 0 5px;
	color: #FE5F1E;
   cursor: pointer;
}



.nav__sort__popup {
	width: 140px;
	padding: 10px 0 0 0;
	border-radius: 10px;
	background-color: #F9F9F9;
	position: absolute;
	top: 70px;
	right: 65px;
}
.sort__popup {}
.sort__popup__text {
	height: 40px;
	font-size: 1em;
	font-weight: 400;
	text-align: center;
   cursor: pointer;
}
.sort__popup__text:hover {
	height: 40px;
	font-size: 1em;
	font-weight: 700;
	text-align: center;
	color: #FE5F1E;
	background: #FE5F1E0D;
}

.activecategory {
   background-color: #808080;
}
.activesort {
   background: #FE5F1E0D;
}