.Thanksfororder_head {
   font-size: 2em;
   font-weight: 700;
   text-align: center;
   padding: 100px 0 0 0;
}
.Thanksfororder_body {}
.Thanksfororder_body__text {
   margin: 30px 0 0 0;
   padding: 0 0 100px 0;
}