.product__card__flex {
	display: flex;
	flex-wrap: wrap;
	padding: 0 70px 0 70px;
   justify-content: center;
   @media (min-width: 480px) and (max-width: 639px) {
      padding: 0 40px 0 40px;
      }
   @media (min-width: 320px) and (max-width: 479px) {
      padding: 0 30px 0 30px;
   }
   @media (max-width: 320px) {
      padding: 0 30px 0 30px;
   }
}
.product__card {
	width: 260px;
	height: 450px;
	margin: 27.5px;
   @media (min-width: 768px) and (max-width: 1024px) {
   width: 400px;
   height: 650px;
   }
   @media (min-width: 640px) and (max-width: 768px) {
   width: 400px;
   height: 650px;
   }
   @media (min-width: 480px) and (max-width: 639px) {
   width: 300px;
	height: 500px;
   }
   @media (min-width: 320px) and (max-width: 479px) {
   width: 320px;
	height: 500px;
   }
   @media (max-width: 320px) {
      width: 320px;
      height: 500px;
   }
}
.product__card__img {
	height: 260px;
	width: 260px;
	background-repeat: no-repeat;
	background-size: contain;
   @media (min-width: 768px) and (max-width: 1024px) {
   height: 400px;
   width: 400px;
   }
   @media (min-width: 640px) and (max-width: 768px) {
   height: 400px;
   width: 400px;
   }
   @media (min-width: 480px) and (max-width: 639px) {
      height: 300px;
	   width: 300px;
      margin: 0 0 0 5px;
   }
   @media (min-width: 320px) and (max-width: 479px) {
      height: 320px;
	   width: 320px;
      margin: 0 0 0 5px;
   }
   @media (max-width: 320px) {
      height: 320px;
	   width: 320px;
      margin: 0 0 0 5px;
   }
}

.product__card__title {
	height: 24px;
	font-size: 20px;
	font-weight: 800;
	line-height: 1.5em;
	text-align: center;
   @media (min-width: 768px) and (max-width: 1024px) {
   font-size: 2.2em;
   }
   @media (min-width: 640px) and (max-width: 768px) {
   font-size: 2.2em;
   }
   @media (min-width: 480px) and (max-width: 639px) {
      font-size: 1.2em;
   }
   @media (min-width: 320px) and (max-width: 479px) {
      font-size: 1.3em;
   }
   @media (max-width: 320px) {
      font-size: 1.3em;
   }
}
.product__card__boxsetting {
	height: 86px;
	background-color: #F3F3F3;
	padding: 11px;
	border-radius: 10px;
	margin: 10px 0 0 0;
   @media (min-width: 768px) and (max-width: 1024px) {
   margin: 30px 0 0 0;
   height: 120px;
   }
   @media (min-width: 640px) and (max-width: 768px) {
      margin: 30px 0 0 0;
      height: 120px;
   }
   @media (min-width: 480px) and (max-width: 639px) {
      margin: 10px 0 0 0;
      height: 86px;
   }
   @media (min-width: 320px) and (max-width: 479px) {
      margin: 10px 0 0 0;
      height: 86px;
   }
   @media (max-width: 320px) {
      margin: 10px 0 0 0;
      height: 86px;
   }
}
.product__card__type__flex {
	display: flex;
	justify-content: space-between;
}
.product__card__type {
	height: 32px;
	width: 118px;
	font-size: 0.88em;
	font-weight: 700;
	text-align: center;
	padding: 10px;
	border-radius: 5px;
   cursor: pointer;
   transition-duration: 1s;
   &:hover{
      background-color: #eb5c1e1b;
      border: 1px solid #eb5c1e37;
   }
   @media (min-width: 768px) and (max-width: 1024px) {
   font-size: 1.2em;
   padding: 13px;
   width: 200px;
   height: 50px;
   }
   @media (min-width: 640px) and (max-width: 768px) {
   font-size: 1.2em;
   padding: 13px;
   width: 200px;
   height: 50px;
   }
   @media (min-width: 480px) and (max-width: 639px) {
      font-size: 0.8em;
      padding: 10px;;
      height: 32px;
	   width: 118px;
   }
   @media (min-width: 320px) and (max-width: 479px) {
      font-size: 0.9em;
      padding: 10px;;
      height: 32px;
	   width: 118px;
   }
   @media (max-width: 320px) {
      font-size: 0.9em;
      padding: 10px;;
      height: 32px;
	   width: 118px;
   }
}
.product__card__type__text {

}
.product__card__size__flex {
	display: flex;
	justify-content: space-between;
}
.product__card__size {
	margin: 2px 0 0 0;
	height: 32px;
	width: 78px;
	font-size: 0.88em;
	font-weight: 700;
	text-align: center;
	padding: 10px;
	border-radius: 5px;
   cursor: pointer;
   transition-duration: 1s;
   &:hover{
      background-color: #eb5c1e1b;
      border: 1px solid #eb5c1e37;
   }
   @media (min-width: 768px) and (max-width: 1024px) {
   font-size: 1.2em;
   padding: 14px;
   width: 120px;
   height: 46px;
   }
   @media (min-width: 640px) and (max-width: 768px) {
   font-size: 1.2em;
   padding: 14px;
   width: 120px;
   height: 46px;
   margin: 3px 0 0 0;
   }
   @media (min-width: 480px) and (max-width: 639px) {
      padding: 10px;
      margin: 2px 0 0 0;
	   height: 32px;
	   width: 78px;
      font-size: 0.8em;
   }
   @media (min-width: 320px) and (max-width: 479px) {
      padding: 10px;
      margin: 2px 0 0 0;
	   height: 32px;
	   width: 78px;
      font-size: 0.9em; 
   }
   @media (max-width: 320px) {
      padding: 10px;
      margin: 2px 0 0 0;
	   height: 32px;
	   width: 78px;
      font-size: 0.9em; 
   }
}
.product__card__size__text {}
.product__card__footer__flex {
	margin: 10px 0 0 0;
	display: flex;
	justify-content: space-between;
   @media (min-width: 768px) and (max-width: 1024px) {
   justify-content: center;
   }
   @media (min-width: 640px) and (max-width: 768px) {
      justify-content: center;
      }
   @media (min-width: 480px) and (max-width: 639px) {
      justify-content: center;
   }
   @media (min-width: 320px) and (max-width: 479px) {
      justify-content: center;
   }
   @media (max-width: 320px) {
      justify-content: center;
   }
}
.product__card__footer__price {
	font-size: 1.37em;
	font-weight: 700;
	text-align: center;
	height: 18px;
	width: 90px;
	margin: 11px auto;
   @media (min-width: 768px) and (max-width: 1024px) {
   font-size: 2em;
   width: 100px;
   height: 25px;
   }
   @media (min-width: 640px) and (max-width: 768px) {
   font-size: 2em;
   width: 100px;
   height: 25px;
   }
   @media (min-width: 480px) and (max-width: 639px) {
      font-size: 1.1em;
      height: 18px;
	   width: 90px;
   }
   @media (min-width: 320px) and (max-width: 479px) {
      font-size: 1.2em;
      height: 18px;
	   width: 90px;
   }
   @media (max-width: 320px) {
      font-size: 1.2em;
      height: 18px;
	   width: 90px;
   }
}
.product__card__footer__button {
	height: 40px;
	width: 155px;
	border-radius: 30px;
	border: 1px solid #EB5A1E;
	background-color: #FFFFFF;
	display: flex;
	justify-content: space-evenly;
   transition-duration: 1s;
   &:hover {
      background-color: #eb5c1e50;
   }
   @media (min-width: 768px) and (max-width: 1024px) {
   width: 200px;
   height: 50px;
   padding: 5px 0 0 0;
   }
   @media (min-width: 640px) and (max-width: 768px) {
   width: 200px;
   height: 50px;
   padding: 5px 0 0 0;
   }
   @media (min-width: 480px) and (max-width: 639px) {
      height: 40px;
	   width: 155px;
   }
   @media (min-width: 320px) and (max-width: 479px) {
      height: 40px;
	   width: 155px;
   }
   @media (max-width: 320px) {
      height: 40px;
	   width: 155px;
   }
}


.button__img {
	height: 12px;
	width: 12px;
	background-image: url('../../assets/img/add.png');
	background-repeat: no-repeat;
	background-size: contain;
	margin: 14px 0 14px 15px;
}
.button__text {
	height: 18px;
	width: 70px;
	margin: 10px 0 0 0;
	font-size: 1.37em;
	font-weight: 700;
	text-align: center;
	color: #EB5A1E;
}
.button__text2 {
	height: 20px;
	width: 20px;
   margin: 2px auto;
   color: white;
   text-align: center;
   @media (min-width: 480px) and (max-width: 639px) {
   height: 20px;
	width: 20px;
   margin: 2px auto;
   }
   @media (max-width: 320px) {
   height: 20px;
   width: 20px;
   margin: 2px auto;
   }
}
.button__text__round {
	height: 24px;
	width: 24px;
   border-radius: 50%;
	margin: 7px 0 10px 0;
	font-size: 1.37em;
	font-weight: 400;
	text-align: center;
   @media (min-width: 480px) and (max-width: 639px) {
      height: 20px;
      width: 20px;
      font-size: 1.1em;
      margin: 8px 0 10px 0;
      }
   @media (min-width: 320px) and (max-width: 479px) {
      height: 20px;
      width: 20px;
      font-size: 1.1em;
      margin: 8px 0 10px 0;
   }
   @media (max-width: 320px) {
      height: 20px;
      width: 20px;
      font-size: 1.1em;
      margin: 8px 0 10px 0;
   }
}

.activesetting {
   background-color: #eb5c1e1b;
   border: 1px solid #eb5c1e37;
}

.color {
   background-color: #EB5A1E;
}